<div id="bg">
	<mat-card>
		<mat-card-title (click)="switchMode()">{{mode === Mode.SIGNIN ? 'Sign in' : 'Sign up'}}</mat-card-title>
		<form [formGroup]="formControl">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matNativeControl formControlName="email" [errorStateMatcher]="matcher">
				<mat-error *ngIf="formControl.get('email').hasError('pattern') && !formControl.get('email').hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="formControl.get('email').hasError('maxlength') && !formControl.get('email').hasError('pattern') && !formControl.get('email').hasError('required')">
					Login to long
				</mat-error>
				<mat-error *ngIf="formControl.get('email').hasError('required')">
					Email is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="formControl.get('email').hasError('usernameTaken')">
					Username already taken
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input matNativeControl formControlName="password" [errorStateMatcher]="matcher" [type]="passwordHidden ? 'password' : 'text'">
				<mat-icon matSuffix (click)="passwordHidden = !passwordHidden">{{formControl.get('password').value ? passwordHidden ? 'visibility' : 'visibility_off' : ''}}</mat-icon>
				<mat-error *ngIf="formControl.get('password').hasError('minlength') && !formControl.get('password').hasError('pattern') && !formControl.get('password').hasError('required')">
					Password must be at least 8 characters long.
				</mat-error>
				<mat-error *ngIf="formControl.get('password').hasError('pattern') && !formControl.get('password').hasError('required')">
					Must contain at least 1 of the following: upper and lower case letter, numeric character, special character. .
				</mat-error>
				<mat-error *ngIf="formControl.get('password').hasError('required')">
					Password is <strong>required</strong>
				</mat-error>
			</mat-form-field>
		</form>
		<mat-card-actions>
			<button mat-raised-button color="primary" [disabled]="!formControl.valid"
					(click)="submit()">{{mode === Mode.SIGNIN ? 'LOGIN' : 'CREATE ACCOUNT'}}
			</button>
		</mat-card-actions>
	</mat-card>
</div>
