<div>
	<mat-form-field>
		<mat-label>{{StringUtils.formatMenuEntryText(dialogType) + ' to'}}</mat-label>
		<mat-select [(ngModel)]="selectedUser">
			<mat-option *ngFor="let user of users" value="{{user}}">
				{{user}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<div *ngIf="dialogType != MenuItem.TRANSFER_OWNERSHIP">
		<mat-checkbox color="primary" *ngFor="let item of transferItems" [(ngModel)]="item.granted">
			{{item.itemLabel}}
		</mat-checkbox>
	</div>
	<div mat-dialog-actions align="end">
		<button mat-button (click)="this.dialogRef.close()">Cancel</button>
		<button mat-button (click)="closeDialog()">Save</button>
	</div>
</div>
