<div id="bg">
	<mat-card>
		<mat-card-title>Sign in</mat-card-title>
		<div>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matNativeControl>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input [type]="hide ? 'password' : 'text'" matNativeControl [(ngModel)]="password">
				<mat-icon matSuffix (click)="hide = !hide">{{password ? hide ? 'visibility' : 'visibility_off' : ''}}</mat-icon>
			</mat-form-field>
		</div>
		<mat-card-actions>
			<button mat-raised-button color="primary">LOGIN</button>
		</mat-card-actions>
	</mat-card>
</div>
