/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-light-blue, 700, 500, 900);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

#bg {
	background-color: #b0bec5;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
