<div>
	<h1 mat-dialog-title>{{type === DialogType.EDIT ? 'Edit row': 'Insert row'}}</h1>
	<mat-table [dataSource]="rowData" class="mat-elevation-z8">
		<ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
			<mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-form-field *ngIf="column !== 'ID'">
					<input matInput [(ngModel)]="row[column]">
				</mat-form-field>
				<span *ngIf="column === 'ID'">{{ row[column] }}</span>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="columns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: columns;"></mat-row>
	</mat-table>
	<div mat-dialog-actions align="end">
		<button mat-button (click)="this.dialogRef.close()">Cancel</button>
		<button mat-button [mat-dialog-close]="rowData[0]">Save</button>
	</div>
</div>
