@import "../../styles.scss";

.sidenav-container {
	height: 100%;

	.sidenav {
		width: 200px;

		.mat-toolbar {
			background: inherit;
		}
		mat-nav-list {
			span {
				margin-left: 1em;
			}
		}
	}
	.tab {
		margin: 3em;

		.highlight{
			background: #455a64;
		}
	}
}
