<div id="bg">
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="mode.value">
			<mat-toolbar>Menu</mat-toolbar>
			<mat-nav-list>
				<mat-list-item *ngFor="let item of menuItems">
					<button mat-icon-button>
						<mat-icon color="accent">{{item.icon}}</mat-icon>
						<span>{{item.text}}</span>
					</button>
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<mat-toolbar color="primary">
				<button type="button" mat-icon-button (click)="drawer.toggle()">
					<mat-icon>{{drawer.opened ? 'arrow_back': 'menu'}}</mat-icon>
				</button>
				<span>Access Control Dashboard</span>
			</mat-toolbar>
			<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
				<mat-tab *ngFor="let tab of tabs" label="{{tab}}">
					<div class="tab">
						<mat-table [dataSource]="tableData[tab] | async" class="mat-elevation-z8">
							<ng-container *ngFor="let column of columns[tab]" matColumnDef="{{column}}">
								<mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
								<mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
							</ng-container>
							<mat-header-row *matHeaderRowDef="columns[tab]"></mat-header-row>
							<mat-row *matRowDef="let row; columns: columns[tab];"></mat-row>
						</mat-table>
					</div>
				</mat-tab>
			</mat-tab-group>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
